@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

button {
    border: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    position: relative;
    background: cadetblue;
}

.header {
    width: 70%;
    border-bottom: 4px dotted burlywood;
    padding-top: 10px;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.header h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.tictactoe {
    width: 550px;
    height: 550px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    margin: auto;
}
.score p {
    color: #fff;
    font-size: 2.5rem;
}
.container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: .5rem 0rem;
    top: 13%;
}

.block {
    width: 32.5%;
    height: 32.5%;
    border: 3px solid burlywood;
    margin: -2px;
    top: 0;
    font-size: 6rem;
    color: #fff;
}
.block:nth-child(1) {
    border-left: none;
    border-top: none;
}
.block:nth-child(2) {
    border-top: none;
}
.block:nth-child(3) {
    border-right: none;
    border-top: none;
}
.block:nth-child(4) {
    border-left: none;
}
.block:nth-child(6) {
    border-right: none;
}
.block:nth-child(7) {
    border-left: none;
    border-bottom: none;
}
.block:nth-child(8) {
    border-bottom: none;
}
.block:nth-child(9) {
    border-right: none;
    border-bottom: none;
}
.StartBtn {
    margin: 2rem 0;
}
a {
    text-decoration: none;
    color: #333;
     width: 100px;
    height: 38px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0rem auto;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
a:hover {
       background:burlywood;   
}
.buttons {
    align-content: center;
}

.vs {
    background-color: cadetblue;
    font-size: 20px;
    color: #fff;
    width: 200px;
    height: 45px;
    align-self: center;
    justify-self: center;
    margin: 9px 7px 0 7px;
    transform: translate(45%, -17%);
    cursor: pointer;
    border-radius: 0px;
    display: block;
    padding: 2px 7px;
}

.alert {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    z-index: 99;
    background-color: burlywood;
    transform: translate(-50%, -17%);
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}

#gamestart {
    width: 100%;
    font-size: 40px;
    z-index: 99;
    color: rgb(247, 247, 247);
    display: none;
    text-align: center;
    padding-top: 68px;
}
#gameover {
    width: 100%;
    font-size: 40px;
    z-index: 99;
    color: rgb(247, 247, 247);
    display: none;
    text-align: center;
    padding-top: 2rem;
}
#playerWon {
    color:  cadetblue;
}
.winning {
    width: 100%;
    font-size: 40px;
    z-index: 99;
    color: rgb(247, 247, 247);
    display: none;
    text-align: center;
    padding-top: 68px;

}

.startover:hover,
.vs:hover {
    background-color: rgb(3, 133, 138);
    color: #fff;
}

.intro {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0;         
    color: rgb(247, 247, 247);
    display: none;
    font-weight: 600;
}
.intro .introText {
    margin: 1rem 0;
}

.text{
    font-size: 11px;
    margin: 0;
}

